.loginCard{
  height: 100vh;
 
  background-color: #BBD5D1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginHeader ,.errMsg{
  text-align: center;
}
.errMsg{
  color: red;
}